.card {
    transition: all 0.5s ease;
  }
  
  .card:hover {
    box-shadow: 0rem 6px 13px rgba(10, 60, 255, 0.1),
      0rem 24px 24px rgba(10, 60, 255, 0.09),
      0rem 55px 33px rgba(10, 60, 255, 0.05),
      0rem 97px 39px rgba(10, 60, 255, 0.01),
      0rem 152px 43px rgba(10, 60, 255, 0);
    transform: scale(1.05);
    color: #000000;
  }
  
  .card:hover .icon {
    animation: moving 2s forwards linear;
  }
  
  @keyframes moving {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .dark .card {
    border: 1px solid rgb(2, 37, 47);
  }
  
  .dark h1 {
    color: #e2e8f0; 
  }
  