@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  html {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
  }
} */

html {
  --line-color: #e5e7eb;
  scroll-behavior: smooth;
  background: linear-gradient(
    90deg,
    rgb(236, 248, 254) 0%,
    rgb(255, 255, 255) 35%,
    rgb(255, 255, 255) 100%
  ); 
}

html.dark {
  /* background: rgb(5, 26, 38);
 
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: white; */
  --line-color: rgba(255, 255, 255, 0.2); /* Line color for dark mode */
  /* background-color: hsl(0deg 0% 1.96%); */
  background: oklch(0.18 0 0);
  color: hsl(215, 15%, 75%); /* Text color for dark mode */
}
/* html.dark .borderBlack {
  @apply border-white/20; 
} */
.borderBlack {
  @apply border border-black/10;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* Light mode styles for container */
/* .container {
  border: 1px solid #e5e7eb; 
} */

/* Dark mode styling */
/* html.dark body {
  background: rgb(5, 26, 38);
  background: linear-gradient(
    90deg,
    rgba(5, 26, 38, 1) 0%,
    rgba(1, 8, 11, 1) 35%,
    rgba(3, 36, 43, 1) 100%
  ); 
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: white;
}

html.dark .container {
  border-color: rgba(255, 255, 255, 0.2); 
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
